minimal-demo/obj
minimal-demo/obj/Debug minimal-demo/obj/minimal-demo.csproj.nuget.dgspec.json minimal-demo/obj/minimal-demo.csproj.nuget.g.props minimal-demo/obj/minimal-demo.csproj.nuget.g.targets minimal-demo/obj/project.assets.json minimal-demo/obj/project.nuget.cache
minimal-demo/bin/Debug
